extends ../layouts/default

block content
	.container
		.contact__left-column
			.contact__header
				h2 Leave us a message
			if enquirySubmitted
				h3 Thanks for getting in touch.
			else
				.row
					form(method='post')
						input(type='hidden', name='action', value='contact')
						.form-group(class=validationErrors.name ? 'has-error' : null)
							label Name
							input(type='text', name='name.full', value=formData['name.full']).form-control
						.form-group(class=validationErrors.email ? 'has-error' : null)
							label Email
							input(type='email', name='email', value=formData.email).form-control
						.form-group
							label Phone
							input(type='text', name='phone', value=formData.phone, placeholder='(optional)').form-control
						.form-group(class=validationErrors.enquiryType ? 'has-error' : null)
							label What are you contacting us about?
							select(name='enquiryType').form-control
								option(value='') (select one)
								each type in enquiryTypes
									option(value=type.value, selected=formData.enquiryType == type.value)= type.label
						.form-group(class=validationErrors.message ? 'has-error' : null)
							label Message
							textarea(name='message', placeholder='Leave us a message...' rows=4).form-control= formData.message
						.form-actions
							button(type='submit').btn.btn-primary Send
		
		.contact__right-column
			.contact__header
				.contact__header
				h1 Contact Us
			each contact in contacts
				.contact__details
					.contact__name= contact.name
					.contact__telephone
						i.fa.fa-phone
						span= contact.telephone
					.contact__email
						i.fa.fa-envelope
						a(href='mailto:#{contact.email}')= contact.email
					if contact.website
						.contact__website
							i.fa.fa-desktop
							a(href=contact.website)= contact.website
					if contact.address 
						.contact__address
							i.glyphicon.glyphicon-map-marker
							span= contact.address
						
						if contact.name === 'Tip Top Beauty'
							.contact__map
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2339.1381501711985!2d-5.897949999999695!3d54.109128992397295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x206950543b51ac99!2sCornmill+Quay!5e0!3m2!1sen!2sau!4v1436693194473" width="250" height="100" frameborder="0" style="border:0" allowfullscreen></iframe>
						
						if contact.name === 'Lisa Woods'
							.contact__map
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2311.976719528601!2d-5.8093578!3d54.5867843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48610ba417b3f149%3A0x71905cb3303e19d2!2sHanwood+Business+Park%2C+Old+Dundonald+Rd%2C+Belfast%2C+Castlereagh+BT16+1DE%2C+UK!5e0!3m2!1sen!2sus!4v1436693467909" width="250" height="100" frameborder="0" style="border:0" allowfullscreen></iframe>
				hr
				
