extends ../layouts/default

block content
	.container
		.contact__left-column
			.contact__header
				h2 Message
			if enquirySubmitted
				h3 Thanks for getting in touch.
			else
				.row
					form(method='post')
						input(type='hidden', name='action', value='contact')
						.form-group(class=validationErrors.name ? 'has-error' : null)
							label Name
							input(type='text', name='name.full', value=formData['name.full']).form-control
						.form-group(class=validationErrors.email ? 'has-error' : null)
							label Email
							input(type='email', name='email', value=formData.email).form-control
						.form-group
							label Phone
							input(type='text', name='phone', value=formData.phone, placeholder='(optional)').form-control
						.form-group(class=validationErrors.enquiryType ? 'has-error' : null)
							label What are you contacting us about?
							select(name='enquiryType').form-control
								option(value='') (select one)
								each type in enquiryTypes
									option(value=type.value, selected=formData.enquiryType == type.value)= type.label
						.form-group(class=validationErrors.message ? 'has-error' : null)
							label Message
							textarea(name='message', placeholder='Leave us a message...' rows=4).form-control= formData.message
						.form-actions
							button(type='submit').btn.btn-primary Send
		
		.contact__right-column
			.contact__header
				.contact__header
				h1 Contact Us
			each contact in contacts
				.contact__details
					.contact__name= contact.name
					.contact__telephone
						i.fa.fa-phone
						span= contact.telephone
					.contact__email
						i.fa.fa-envelope
						a(href='mailto:#{contact.email}')= contact.email
					if contact.website
						.contact__website
							i.fa.fa-desktop
							a(href=contact.website)= contact.website
				hr
				
