extends ../layouts/default

block content
	.container
		.two-column-layout
			img.home__image(src='/images/botox.jpg')
		.two-column-layout
			img.home__main-logo(src='/images/logo-long.png')
			.home__main-text!= home.mainBlurb
			
	.container.home__bottom-container
		.home__column-left
			h2.home__products Our Services
			if products.length
				each product in products
					.home__product
						a(href="/products##{product.name.split(' ').join('')}")=product.name
			
		
		.home__column-middle
			h2.next-surgery__heading Next Surgery
			if !surgeries.length 
				hr
			table.next-surgery__table
				if surgeries.length
					each surgery in surgeries
						tr
							td= surgery.humanDate
							td= surgery.where
					.next-surgery__click
						a(href="/contact") Click here to book...
				else
					.next-surgery__no-surgery No Surgeries currently scheduled.
						.next-surgery__call 
							span(class='fa fa-phone')
							span  Call 
							span(class="next-surgery__call-detail")= contact.telephone
							span  to book!
						

				
		.home__column-right
			h2.home__latest-news Latest News
			h4.home__news-title= news.title
			.home__humanized-time= news.humanizedTime
			.home__news-brief!= news.content.brief
			.read-more
				a(href="/blog") Read more...

	//if testimonial
	//	.container.testimonials
	//		hr
	//		h2 Testimonials
	//		hr
	//		blockquote.testimonial= testimonial.text
	//			footer Happy Customer
