extends ../layouts/default

block content
	.container
		.two-column-layout
			img.home__image(src='/images/botox.jpg')
		.two-column-layout
			img.home__main-logo(src='/images/logo-long.png')
			.home__main-text!= home.mainBlurb
			
	.container.home__bottom-container
		.home__column-left
			h2.home__products Our Services
			if products.length
				each product in products
					.home__product
						a(href="/products##{product.name.split(' ').join('')}")=product.name
			
		
		.home__column-middle
			if clinics.length
				h2.next-clinic__heading Next Clinic
				table.next-clinic__table
					each clinic in clinics
						tr
							td= clinic.humanDate
							td= clinic.where
			else                                
				h2.next-clinic__heading--no-clinics Next Clinic
				hr
				.next-clinic__no-clinic No Clinics currently scheduled.
				
			.next-clinic__call 
				span(class='fa fa-phone')
				span  Call 
				span(class="next-clinic__call-detail")= contact.telephone
				span  to book!
						

				
		.home__column-right
			h2.home__latest-news Latest News
			h4.home__news-title= news.title
			.home__humanized-time= news.humanizedTime
			.home__news-brief!= news.content.brief
			.read-more
				a(href="/blog") Read more...

	//if testimonial
	//	.container.testimonials
	//		hr
	//		h2 Testimonials
	//		hr
	//		blockquote.testimonial= testimonial.text
	//			footer Happy Customer
