extends ../layouts/default

mixin productDescription(product)
	.product__container
		.product__description!= product.description


mixin productImage(product)
	img(class='product__image' src=product.image.secure_url)


block content
	.container
		.products__nav
			h1.products__header Our Products
			if products.length
				each product in products
					.products__nav-item
						a(href="##{product.name.split(' ').join('')}")= product.name
				
		if products.length	
			-var i = 0
			each product in products
				.product
					a(name=product.name.split(' ').join(''))
					h2.product__name= product.name
					if product.image.url
						.product--with-image
							if(i % 2 === 0)
								.product__image--mobile
									+productImage(product)
								+productDescription(product)
								.product__image--non-mobile
									+productImage(product)
							else
								+productImage(product)
								+productDescription(product)
							-i++
					else
						.product--no-image
							+productDescription(product)
			
block js
	script(src='js/productsDecorator.js')
